<div class="title">
  <h1>micolet</h1>
  <h5>Moda casi nueva con garantía</h5>
</div>

<div class="message">
  <h3>¡Bienvenid@! Proximamente abriremos nuestra web en este país.</h3>
  <h4>Suscríbete para recibir nuestras novedades.</h4>
</div>

<div class="form">
</div>